:root {
  --mainColor: rgb(25, 23, 33);
}

* {
  box-sizing: border-box;
}

body {
  background: url(../img/background.jpg) var(--mainColor) no-repeat center center/cover;
  color: white;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: auto;
  position: relative;
  transform: scale(1);
}

.gradient-circle {
  background: conic-gradient(
    rgb(163,65,106) 0%,
    rgb(151, 84, 132) 40%,
    #fff 40%,
    #fff 60%,
    rgb(110, 87, 137) 60%,
    var(--mainColor) 100%
  );
  width: 320px;
  height: 320px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -2;
  border-radius: 50%;
}

.circle {
  background-color: rgba(21,20,24);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
}

#text {
  cursor: pointer;
  padding: 10px;
}

#text:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 2px 2px rgba(151, 84, 132, 0.2);
  border-radius: 10px;
  transition: 0.2s ease-out;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  transform-origin: bottom center;
}

.pointer {
  background-color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
}

.container.grow {
  animation: grow 3s linear forwards;
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

.toggle-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin-left: 5px;
}
  
input[type="checkbox"]:focus  {
  outline: 0;
}

.toggle {
  height: 20px;
  width: 40px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  transition: all .2s ease;
}

.toggle:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(44,44,44,.2);
    transition: all .2s cubic-bezier(.5,.1,.75,1.35);
}

.toggle:checked {
  border-color: rgb(110, 87, 137);
}

.toggle:checked:after {
  transform: translateX(20px);
  background-color: rgb(110, 87, 137);
}

audio {
  max-height: 30px;
  font-size: 0.5rem;
  margin-bottom: 15px;
  transition: 0.5s ease-in-out;
}

audio::-webkit-media-controls-panel {
  background-color: rgba(110, 87, 137, 0.5);
}

audio::-webkit-media-controls-play-button:hover { 
  transform: scale(1.1);
}

.hidden {
  height: 0;
  width: 0;
}

.credits {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 0.7rem;
  border-left: 0.5px solid rgb(110, 87, 137);
  border-top: 0.5px solid rgb(110, 87, 137);
  color: white;
  padding: 5px 10px 0 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(110, 87, 137, 0.3);
}

.credits a {
  color: rgb(110, 87, 137);
  text-decoration: none;
  padding: 0 2px;
}

.credits span {
  font-weight: bold;
  padding: 0 3px;
  color: transparent;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  .container {
    width: 200px;
    height: 200px;
  }

  .gradient-circle {
    width: 220px;
    height: 220px;
  }

  .pointer-container {
    top: -30px;
    left: 96px;
    width: 10px;
    height: 130px;
  }

  .pointer {
    width: 10px;
    height: 10px;
  }

  .credits {
    position: relative;
    font-size: 0.5rem;
    bottom: 0px;
    right: 0;
    width: 100%;
    text-align: center;
    border-left: none;
    padding: 5px 0;
  }

  .credits span {
    color: rgb(110, 87, 137);
  }
}